* {
  background-color: black;
}

.parent {
  border: 2px solid lightblue;
  height: 98vh;
  display: flex;
  justify-content: center;

}
.child {
  border: 2px solid hotpink;
  height: 80vh;
  width: 50%;
  margin-top: 5%;
  color: white;
}